* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(34, 11, 10);
    color: aliceblue;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.img__logo {
    width: 10%;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul .list__item__nav {
    margin: 2rem;
    list-style: none;
}

.list__item__nav:hover {
    border-bottom: 1px solid yellow;
}

header {
    width: 100%;
    height: 30%;
    justify-items: center;
}


h1 {
    text-align: center;
}

.img__header__container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.img__header {
    width: 40%;
}

button {
    width: 8rem;
    height: 2rem;
    margin: 0.5rem;
    background-color: yellow;
    border: 1px solid;
    border-radius: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

button:hover {
    background-color: rgb(224, 224, 85);
    color: rgb(53, 47, 47);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 8rem;
}

.span-big {
    color: yellow;
    font-size: 6rem;
}

span {
    color: yellow;
}

.flex-content {
    display: flex;
}

.flex-content p {
    margin-top: 2rem;
}

.img-container {
    margin-top: -5rem;
}

.img-container img {
    width: 50vi;
}

.img-container .img-2 {
    width: 27vi;
}

.text-content {
    width: 40rem;
    padding: 3rem;
}

h2 {
    margin-left: 1rem;
    margin-bottom: 2rem;
    font-size: 5rem;
}

.h2 {
    font-size: 3rem;
}

.big {
    font-size: 3.3rem;
    color: white;
}

.text {
    margin-bottom: 1rem;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.product-info {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 15vi;
    margin-top: 3rem;
}

.mocha {
    width: 15vi;
    border: 1px solid yellow;
    border-radius: 3px;
    padding: 3vi;
}

.mocha-img-container {
    display: flex;
    justify-content: center;
}

.mocha-img {
    width: 5rem;
    margin-top: -5.5rem;
    margin-bottom: 2rem;
}

.mocha-title {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.mocha-text {
    margin: 0.5rem;
}

.button-mocha {
    margin-top: 4rem;
    margin-bottom: -2rem;
}


/*Footer*/
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.footer-card {
    text-align: center;
    margin: 1rem;
}

.footer-card h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer-text-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.yellow {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 40%;
    height: 0.1rem;
    background-color: yellow;
}

.text-footer {
    margin: 0 auto;
    margin-bottom: 1rem;
}