@import url(' https://fonts.cdnfonts.com/css/amazon-ember ');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*
    width: 1918px;
    height: 4149px;
    /HTML_S2_DuranAlexi
    */
    background: transparent url(/HTML_S2_DuranAlexi/practica/img/Path\ 1.svg);
    border: 1px solid #707070;
    opacity: 1;
}

header {
    background-image: url(/HTML_S2_DuranAlexi/practica/img/FondoTwitch.png);
    background-position: center;
    background-size: cover;
}

.between-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.between-header .btn {
    width: 7rem;
    border-radius: 20vh;
    font-family: 'Amazon Ember';
    font-weight: 300;
    padding: 0.5rem;
    border: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.logo {
    margin-top: -7rem;
}

.prime {
    color: rgb(52, 193, 236);
    font-family: 'Amazon Ember Cd RC';
    font-size: 4vh;
    font-weight: 700;
}

.entertainment {
    font-family: 'Amazon Ember Display';
    font-size: 2vh;
    font-weight: 300;
}

.header-container .logo img {
    margin-top: -5rem;
}

.text-header {
    margin-bottom: 2rem;
}

.text-header h1 {
    font-family: 'Amazon Ember V2';
    font-size: 3rem;
    width: 60rem;
    margin: 0 auto;
}

.text-header p {
    font-family: 'Amazon Ember';
    font-weight: 300;
    font-size: 1.5rem;
    width: 70rem;
    margin: 0 auto;
}

.btn-header {
    width: 40vh;
    height: 10vh;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20vh;
    font-size: 3vh;
}

section {
    margin-left: 4rem;
    margin-right: 5%;
    margin-bottom: 5%;
}

.content-center {
    background-color: rgb(52, 193, 236);
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    color: white;
}

.content-center h2 {
    font-family: 'Amazon Ember';
    font-size: 2.5rem;
}

.content-center p {
    width: 70rem;
    margin: 0 auto;
    font-family: 'Amazon Ember';
    font-weight: 300;
    font-size: 1.5rem;
}

.content-center-imgs {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.content-center-imgs img {
    width: 4rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.compatible-devices {
    text-align: center;
    margin-bottom: 15rem;
    font-family: 'Amazon Ember';
    font-weight: 500;
}

.compatible-devices h2 {
    font-size: 4rem;
}

.compatible-devices p {
    font-size: 2rem;
    width: 50rem;
    margin: 0 auto;
}

.img-mac {
    width: 30vh;
}

.compatible-devices .images-article .arrow-left {
    width: 2vh;
    padding-right: 3rm;
}

.compatible-devices .images-article .arrow-rigth {
    width: 2vh;
    transform: scaleX(-1);
    margin-left: 3rm;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

footer ul {
    color: white;
    display: flex;
}

footer ul li {
    margin-left: 1rem;
    margin-right: 1rem;
    list-style: none;
    font-family: 'Amazon Ember';
    font-weight: 350;
    cursor: pointer;
}